include README.md LICENSE
global-include CMakeLists.txt *.cmake
recursive-include src *
recursive-include lib/pybind11/include *.h
recursive-include lib/libnest2d/include *.hpp
recursive-include lib/libnest2d/src *
recursive-include lib/libnest2d/tools *
recursive-include lib/libnest2d/external *
recursive-include lib/libnest2d/cmake_modules *
recursive-include lib/libnest2d/LICENSE.txt
